{
"presets": [
   [
     "@babel/preset-env",
     "@babel/preset-react",
     {
       "useBuiltIns": "entry"
     }
   ]
 ],
 "plugins": [
   "@babel/plugin-proposal-class-properties",
   "transform-object-rest-spread",
 ]
}
